* {
    margin: 0;
    padding: 0;
  }
  
  .container {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows:200px 4fr;
    
  }
  

  
  .container div {
    
    font-family: Helvetica;
    
    /*padding: 15px; */
  }
 


  .sidebar{
    padding:15px;
    font-weight: bold;
    color:white;
    display:grid;
    min-width:180px;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 10fr;
    height:102%;
    background-color:#1992d4;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    justify-content: center;
    
  }

  .sidebartop{
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    grid-column: 1 / 3;
    grid-row: 1 / 2;
  }



  
  .sidebartop img{
    width:50px;
    height:auto;
    filter: invert(100%);
  }



  
  .sidebarlinks{
    
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    
  }


  .sidebarlinks img{
    width:30px;
    height:auto;
    filter: invert(100%);
  }



  .links{
    font-size: 22px;
    padding:15px;
    display:grid;
    align-items: center;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 20px;
    
  }

  .linksicons{
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
  
  .linkstexts{
    
    display:flex;
    justify-content:left;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }


  .header{
    padding:15px;
    font-weight: bold;
    display:grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 80px 100px;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }


  /*
  .header div{
    border: 1px pink solid;
  }
  */

  
  .search{

    padding:15px;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

 
  form{
    display:flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
    padding-top:10px;
  }

  .searchbutton {
    background: none;
    border: none;
    cursor: pointer; /* Makes it look clickable */
  }
  
  .searchbutton img {
    
    width: 26px;   /* Set your preferred size */
    height: auto;
  }


  
  .searchbox{
    width:90%;
    height: 30px;
    border-radius: 20px;
    border:none;
    background-color: rgb(238, 238, 238);

  }


  .user{
    display:flex;
    padding-right:130px;
    align-items: center;
    justify-content: right;
    gap: 50px;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }


  .bell{
    width:30px;
    height:auto;
  }

  
  .profilepicsmall{
    width:50px;
    height:auto;
  }


  .profilepicbig{
    width:100px;
    height:auto;
  }


  .fullname{
    font-size: 22px;
  }

  /*
  .user div{
    border: 1px blue solid;
  }
  */


  .hithere{
    display:grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 1fr;
    justify-content: left;
    width:50%;
    padding-left:20px;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }



  
.hithereavatar{
  grid-column: 1 / 2;
  grid-row: 1 / 3;
}


img.profilepicsmall{
  width: 50px;         /* Must be equal to height */
  height: 50px;        /* Must be equal to width */
  border-radius: 50%;   /* Makes the image round */
  object-fit: cover; 
}

.hithereavatar img{
  width: 100px;         /* Must be equal to height */
  height: 100px;        /* Must be equal to width */
  border-radius: 50%;   /* Makes the image round */
  object-fit: cover; 
}


.hitheregreet{
  text-align:left;
  align-self:end;
  padding-bottom:10px;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}


.hithereuser{
  text-align:left;
  align-self:start;
  font-size:22px;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}



  .actionbuttons{
    padding:15px;
    padding-right:100px;
    display:flex;
    justify-content:right;
    align-items: center;
    gap: 20px;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }
  




  button.action{
    color:white;
    background-color:#1992d4;
    border-radius: 20px;
    border:none;
    width: 100px;
    height: 40px;
    font-size:16px;
    font-weight:bold;
  }


  .main{
    display:grid;
    padding:20px;
    gap:20px;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    background-color:#e2e8f0;
    height:100%;

  }


  .projects{
    
    display:grid;
    grid-template-columns: 1fr ;
    grid-template-rows: 40px 1fr;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    align-items: start; 
  }

  /*
  .projects div{
    border: 1px teal dashed;
  }
  

  .projectitem > div{
    border: 1px blue solid;
  }
  */


  .yourprojects{
    font-weight: bold;
    font-size:22px;
    display:flex;
    justify-content:left;
    align-items: center;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  .projectslist{
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: start;
    gap: 20px;
  }


  .projectitem{
    
    flex: 1 300px;
    padding: 30px;
    height:200px;
    
    background-color:rgb(250, 250, 250);
    border-radius: 12px;
    border-left: 12px rgb(235, 146, 2) solid;
  }


  .cardtitle{
    font-weight: bold;
    text-align:left;
  }

  .cardtext{
    padding-top: 6px;
    font-family: 'Times New Roman', Times, serif;
    text-align:left;
    font-size: 16px;
    height: 70%;
  }

 

  .cardicons img{
    width: 30px;
    height:auto;
  }

  .cardicons ul{
    display: grid;
    padding: 8px;
    gap: 30px;
    grid-template-columns: repeat(auto-fit, 18px);
    justify-content: right; 
    list-style-type: none;
  }




  .announcements{
    padding:0px;
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 40px 1fr;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    
  }

  /*
  .announcements div{
    border: 1px blue solid;
  }*/


  .announcetitle{
    display:flex;
    justify-content: left;
    align-items: top;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    font-weight: bold;
    font-size:22px;
  }


  .announcemenitems{
    padding: 20px;
    width:90%;
    background-color: white;
    display:flex;
    flex-direction:column;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    border-radius: 12px;
  }

  .announceitem{
    flex: 1;
    min-width:200px;
    padding: 14px;   
  }


  .announcesubtitle, .trendinguser{
    font-weight: bold;
    text-align:left;
    
  }

  .announcetext, .trendingtext{
    padding-top: 6px;
    font-family: 'Times New Roman', Times, serif;
    text-align:left;
    font-size: 16px;
    
  }


  .trending{    
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 40px 1fr;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }


  .trendingtitle{
    font-weight: bold;
    font-size:22px;
    display:flex;
    justify-content: left;
    align-items: center;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }


  .trendingitems{
    background-color: white;
    padding: 20px;
    width:90%;
    display:flex;
    flex-direction:column;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    border-radius:12px;
   
  }

  .trendingitem{
    display:grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr;
    flex: 1;
    min-width:200px;
    height:100px;
    padding:10px;
  }

.trendingavatar{
  grid-column: 1 / 2;
  grid-row: 1 / 3;
}


.trendingavatar img{
  width:60px;
  height:auto;
}

.trendinguser{
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}


.trendingtext{
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

